# This file is managed by Ansible.
# Changes will be lost on the next play!

{% include("zshrc/oh_my_zsh_base.j2") %}


{% include("zshrc/utility_functions.j2") %}


{% include("zshrc/env_vars.j2") %}


{% include("zshrc/local_zshrc.j2") %}
