[Unit]
Description=Emacs: the extensible, self-documenting text editor

[Service]
Type=forking
ExecStart=/usr/bin/emacs -nw --daemon
ExecStop=/usr/bin/emacsclient -nw --eval "(progn (setq kill-emacs-hook 'nil) (kill-emacs))"
Restart=always
User=%i
WorkingDirectory=~

[Install]
WantedBy=multi-user.target
