###############################################################################
# load local zshrc -- may contain secrets or machine-specific functions/aliases
###############################################################################

[ -f ~/.zshrc.local ] && . ~/.zshrc.local
